{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>{{capitalice "Este es el ultra instinto " }}</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi nesciunt laboriosam ad excepturi voluptatum unde consectetur odio, minus quam voluptatibus, obcaecati culpa modi sint totam quidem nemo dolore, similique itaque.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/dragon-ball-goku.jpg" class="img-thumbnail" alt="">
    </div>
</div>
{{> footer }}